## IMDb Top 250 Movies

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# Send a GET request to the IMDb Top 250 page and get the HTML response
url = "https://www.imdb.com/chart/top/"
response = requests.get(url)

# Use BeautifulSoup to parse the HTML response
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the movie data
table = soup.find("table", class_="chart")

# Find all the rows in the table
rows = table.find_all("tr")

In [11]:
# Extract the ranks, titles, and years from the rows
ranks = []
titles = []
years = []
ratings = []
directors = []
casts = []
for row in rows[1:]:
    rank = row.find("td", {"class": "posterColumn"}).span.get_text(strip=True)
    title = row.find("td", {"class": "titleColumn"}).a.get_text(strip=True)
    year = row.find("td", {"class": "titleColumn"}).span.get_text(strip=True)
    rating = row.find("td", {"class": "ratingColumn imdbRating"}).strong.get_text(strip=True)
    summary = row.find("td", {"class": "titleColumn"}).a["title"]
    director_text, cast_text = re.search(r"^(.*) \(dir\.\)\s*([^)]+)\)?$", summary).groups()
    director = director_text.strip()
    cast = re.sub(r"\d+ NOT YET RELEASED Seen ", "", cast_text).strip()
    ranks.append(rank)
    titles.append(title)
    years.append(year)
    ratings.append(rating)
    directors.append(director)
    casts.append(cast)
    

# Create a Pandas DataFrame with ranks, titles, and years starting at one
df = pd.DataFrame({"Rank": ranks, "Title": titles, "Year": years, "Rating": ratings, "Director": directors, "Cast": casts}, index=range(1, len(ranks) + 1))

In [12]:

df.to_csv("imdb_top_250.csv", index=False)

In [13]:
df

,Rank,Title,Year,Rating,Director,Cast
1,,The Shawshank Redemption,(1994),9.2,Frank Darabont,", Tim Robbins, Morgan Freeman"
2,,The Godfather,(1972),9.2,Francis Ford Coppola,", Marlon Brando, Al Pacino"
3,,The Dark Knight,(2008),9.0,Christopher Nolan,", Christian Bale, Heath Ledger"
4,,The Godfather Part II,(1974),9.0,Francis Ford Coppola,", Al Pacino, Robert De Niro"
5,,12 Angry Men,(1957),9.0,Sidney Lumet,", Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...,...
246,,The Iron Giant,(1999),8.0,Brad Bird,", Eli Marienthal, Harry Connick Jr."
247,,The Help,(2011),8.0,Tate Taylor,", Viola Davis, Emma Stone"
248,,Aladdin,(1992),8.0,Ron Clements,", Scott Weinger, Robin Williams"
249,,Dances with Wolves,(1990),8.0,Kevin Costner,", Kevin Costner, Mary McDonnell"
250,,Dersu Uzala,(1975),8.0,Akira Kurosawa,", Maksim Munzuk, Yuriy Solomin"